[Unit]
Description=TapIt Controller Express App Service
After=network.target

[Service]
User=main

WorkingDirectory=/home/main/rapidforge/rapidforge_hub/example
EnvironmentFile=/home/main/rapidforge/systemd/example_service/.env

# ExecStart=

# ---- Do not touch ----

Restart=always

CPUQuota=20%

[Install]
WantedBy=multi-user.target
