<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/output.css" />
  </head>
  <body class="mb-14 font-sans text-neutral-50">
    <div
      class="bg-slate-950 z-50 w-screen fixed flex flex-col justify-center"
    >
      <div class="ml-14 pt-2 pb-2 flex flex-row space-x-14 font-bold text-lg">
        <a href="" target="_top" class="hover:underline">Dashboard.</a>
        <a href="../pages/server.html" target="_top" class="hover:underline">Server.</a>
      </div>
    </div>

  </body>
</html>
